name: Build and check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Cache depends directory
      uses: actions/cache@v2
      with:
        path: depends
        key: ${{ runner.os }}-depends-v1.0
        restore-keys: |
          ${{ runner.os }}-depends-
          ${{ runner.os }}-depends-v1.0-
          
    - name: Build dependencies
      run: |
        cd depends
        make

    - name: Configure and build
      run: |
        sudo apt-get install libxcb-xinerama0 libxcb-icccm4-dev
        sudo apt-get install -y libxcb-image0-dev
        sudo apt-get install -y libxcb-keysyms1-dev
        sudo apt-get install libxcb-render-util0
        sudo apt-get install libxcb-shape0
        sudo apt-get install libxcb-xkb1
        sudo apt-get install libxkbcommon-x11-0
        ./autogen.sh
        ./configure --prefix=$PWD/depends/x86_64-pc-linux-gnu
        make

    - name: Check tests
      run: |
        make check
