listen=1
server=1
maxconnections=${BELLS_MAX_CONNECTIONS}
rpcport=${BELLS_RPC_PORT}
rpcuser=${BELLS_RPC_USER}
rpcpassword=${BELLS_RPC_PASSWORD}
txindex=1
rpcbind=${BELLS_RPC_BIND}
rpcthreads=${BELLS_RPC_THREADS}
rpcallowip=${BELLS_RPC_ALLOWIP}
${BELLS_CONFIG_EXTRA}

[test]
listen=1
server=1
maxconnections=${BELLS_MAX_CONNECTIONS}
rpcport=${BELLS_RPC_PORT}
rpcuser=${BELLS_RPC_USER}
rpcpassword=${BELLS_RPC_PASSWORD}
txindex=1
rpcbind=${BELLS_RPC_BIND}
rpcthreads=${BELLS_RPC_THREADS}
rpcallowip=${BELLS_RPC_ALLOWIP}
${BELLS_TEST_CONFIG_EXTRA}
